:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  /*  (with 75% opacity for lightbox background) */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
  font-family: 'Kumbh Sans', sans-serif;
}

.ui-padding {
  padding: 0 8em;
}

.ui-padding-2 {
  padding: 4em 12em 0 12em;
}

a {
  text-decoration: none;
  font-size: 16px;
  padding: 2.5em 0;
  color: var(--grayish-blue);
  font-weight: 700;
  border-bottom: 2px solid transparent;
}

a:hover {
  color: var(--black);
  border-bottom: 2px solid var(--orange);
}

a:active,
a:focus {
  outline: none;
  color: var(--black);
  border-bottom: 2px solid var(--orange);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid hsla(220, 14%, 75%, 40%);
}

.header-menu-one {
  display: flex;
  gap: 2.8em;
  align-items: center;
}

.header-menu-one div {
  display: flex;
  gap: 2.5em;
}

.header-menu-two {
  display: flex;
  align-items: center;
  gap: 3em;
}

.header-menu-two img:first-child:hover {
  cursor: pointer;
}

#menu-icon {
  display: none;
}

.mobile-nav {
  display: none;
}

.cart-icon-container {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: -9px;
  right: -11px;
  background-color: var(--orange);
  color: white;
  border-radius: 0.7em;
  padding: 1px 8px;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-menu-two img:nth-child(2) {
  border: 2px solid white;
}

.header-menu-two img:nth-child(2):hover {
  border: 2px solid var(--orange);
  border-radius: 2em;
  cursor: pointer;
}

.product-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
}

.product-description {
  display: flex;
  flex-direction: column;
}

.product-description p:first-child {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: var(--orange);
}

.product-description p:nth-child(3) {
  font-size: 1.2em;
  line-height: 1.5em;
  font-weight: 400;
  margin: 1.6em 0;
  color: var(--dark-grayish-blue);
}

.product-description h1 {
  font-size: 3em;
  line-height: 1em;
}

.product-description h4 {
  color: var(--grayish-blue);
  font-size: 1.1em;
}

.product-price {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  gap: 1.5em;
}

.product-price h3 {
  font-size: 2em;
}

.product-price h4 {
  background-color: var(--pale-orange);
  color: var(--orange);
  padding: 0.3em;
  border-radius: 0.4em;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-top: 1.5em;
}

.buttons > div {
  display: flex;
  align-items: center;
  gap: 3em;
}

.buttons > div img {
  cursor: pointer;
}

.buttons > div img:hover {
  filter: brightness(1.5);
}

button {
  display: flex;
  align-items: center;
  gap: 0.8em;
  padding: 0.8em 3em;
  font-size: 1.1em;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  background-color: var(--orange);
  color: var(--white);
  box-shadow: 0px 9px 26px -9px var(--orange);
}

button:hover {
  opacity: 0.5;
}

button img {
  width: 18px;
  filter: brightness(0) invert(1);
}

.product-lightbox > img {
  border-radius: 1.5em;
}

.thumbnails {
  display: flex;
  gap: 1rem;
  margin-top: 1em;
}

.thumbnails img {
  width: 100px;
  border-radius: 0.8em;
  cursor: pointer;
}

.thumbnails img:hover {
  opacity: 0.5;
  border: 3px solid rgb(255, 123, 0);
}

.cart-details {
  display: none;
  background-color: rgb(255, 255, 255);
  width: 380px;
  /* height: 300px; */
  flex-direction: column;
  position: absolute;
  top: 94px;
  right: 76px;
  border-radius: 0.8em;
  box-shadow: 0px 6px 28px -6px var(--grayish-blue);
}

.cart-details p {
  padding: 1rem 2rem 1rem 2rem;
  justify-content: center;
}

.cart-details p:nth-child(3) {
  display: none;
  text-align: center;
  padding: 5rem;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--grayish-blue);
}

.cart-items {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  margin-top: 1em;
}

.cart-items img:nth-child(1) {
  border-radius: 0.6em;
}

.btn-checkout {
  justify-content: center;
  margin: 1em 1em;
  box-shadow: none;
}

#btn-delete {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  header {
    height: 70px;
    border-bottom: none;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--white);
  }
  .header-menu-one > div{
    gap: 1em;
  }
  .mobile-nav {
    display: none;
  }
  #menu-icon {
    display: flex;
  }
  .mobile-menu-links {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100%;
    background-color: var(--white);
    color: var(--very-dark-blue);
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
  }
  .mobile-menu-links > div {
    display: flex;
    flex-direction: column;
    top: 5rem;
    position: absolute;
    padding: 1rem;
  }
  .mobile-menu-links > a{
    padding: 0;
    color: var(--very-dark-blue);
    font-weight: 700;
    width: fit-content;
  }
  .mobile-menu-links img{
    margin-bottom: 2em;
  }
  .ui-padding {
    padding: 0 1em;
  }
  .ui-padding-2 {
    padding: 0;
  }
  .header-menu-one {
    display: flex;
    gap: 0.3em;
  }
  .header-menu-one div {
    display: none;
  }
  .header-menu-one img:nth-child(2) {
    margin-left: 0.5em;
  }
  .header-menu-two {
    gap: 1.5em;
  }
  .header-menu-two img:nth-child(2) {
    width: 40px;
  }
  .product-section {
    flex-direction: column;
    gap: 2em;
  }
  .product-description {
    padding: 0 1em;
  }
  .product-description h1 {
    font-size: 2em;
  }
  .product-description p:first-child {
    font-size: 14px;
    letter-spacing: 0.15em;
    margin-bottom: 0.8em;
  }
  .product-description p:nth-child(3) {
    margin: 1em 0;
  }
  .product-lightbox {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  .product-lightbox > img {
    width: 100%;
    border-radius: 0;
  }
  .thumbnails {
    display: none;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons div {
    width: 100%;
    justify-content: space-around;
  }
  .buttons button {
    width: 100%;
    margin-bottom: 1em;
    justify-content: center;
  }
  .cart-details {
    max-width: 400px;
    width: 100%;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product-price-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5em;
  }
  .product-price {
    margin: 0;
  }
}
